/*Definindo a lateral fixa para o menu*/
.menu-vertical{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #e98080;
    padding: 40px; /*Espaço entre o topo da tela*/
   
}
/*Removendo os marcadores e atribuindo espaçamento padrão da lista*/
.menu-vertical li{
    list-style: none;
    padding: 0;
}

/*Estilizando os links do menu*/
.menu-vertical a{
   
    text-decoration: none;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}

.menu-vertical:hover{
    background-color: #6b868d;
    color: rgb(230, 84, 84);
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;

}
